<extend name="Public:base" />
<block name="content">
		 <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">减免</strong></div>
    </div>

    <hr/>

    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8"></div>
      <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
        <form class="am-form am-form-horizontal" action="{:U('Admin/Orders/derate')}" method='post'>
          <div class="am-form-group">
            <label for="user-name" class="am-u-sm-3 am-form-label">减免金额</label>
            <div class="am-u-sm-9">
              <input type="number" id="user-name" name='money' placeholder="减免金额">
            </div>
          </div>

          <div class="am-form-group">
            <label for="user-name" class="am-u-sm-3 am-form-label"></label>
            <div class="am-u-sm-9" style='color:red'>输入负数可以进行金额减少</div>
          </div>

          <div class="am-form-group">
            <div class="am-u-sm-9 am-u-sm-push-3">
              <input type="submit" class="am-btn am-btn-primary" value='提交'>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</block>