<extend name="Public:base" />
<block name="content">
	  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户列表</strong></div>
    </div>

    <div class="am-g">
      <div class="am-u-md-4 am-cf">
        <div class="am-fl am-cf">
          <div class="am-btn-toolbar am-fl">
            <div class="am-btn-group am-btn-group-xs">
              <a type="button" href="{:U('Admin/User/addUser')}" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增用户 </a>
            </div>

          </div>
        </div>
      </div>
      <form action="{:U('Admin/User/index')}" method='get'>
<!--       <input name='m' value='Admin' style='display:none'>
      <input name='c' value='User' style='display:none'>
      <input name='a' value='index' style='display:none'> -->
  	  <div class="am-form-group am-margin-left am-fl">
            <select name="role" style="height:40px;width:130px">
              <option value="">角色分类</option>
              <option value="1" <?php echo $_GET['role'] == '1'? 'selected':''?>>订餐员</option>
              <option value="2" <?php echo $_GET['role'] == '2'? 'selected':''?>>普通成员</option>
            </select>
      </div>

      <div class="am-form-group am-margin-left am-fl">
            <select name="money" style="height:40px;width:130px">
              <option value="">余额情况</option>
              <option value="1" <?php echo $_GET['money'] == '1'? 'selected':''?>>正常</option>
              <option value="2" <?php echo $_GET['money'] == '2'? 'selected':''?>>欠费</option>
            </select>
      </div>
      <div class="am-u-md-3 am-cf">
        <div class="am-fr">
          <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field" value='<?php echo !empty($_GET['username'])? $_GET['username'] : ''?>' placeholder="用户名" name='username'>
                <span class="am-input-group-btn">
                  <input value='搜索' class="am-btn am-btn-default" type="submit">
                </span>
          </div>
        </div>
      </div>
      </form>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th class="table-title">ID</th>
                <th class="table-title">用户名</th>
                <th class="table-title">角色</th>
                <th class="table-type">状态</th>
                <th class="table-type">余额</th>
                <th class="table-author">注册时间</th>
                <th class="table-date">操作</th>
              </tr>
          </thead>
          <tbody>
          <foreach name='row' item='v'>
            <tr>
              <td>{$v['id']}</td>
              <td>{$v['username']}</a></td>
              <td>{$v['role']}</a></td>
              <td>{$v['status']}</td>
              <td>{$v['money']}</td>
              <td>{$v['addtime']}</td>
              <td>
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                    <a style='background:white' href="{:U('Admin/User/pay', ['id'=>$v['id']])}" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 充值 </a>
                    <a style='background:white' href="{:U('Admin/User/status', ['id'=>$v['id']])}" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> {$v['statusSecond']} </a>
                    <a style='background:white'  href="{:U('Admin/User/delete', ['id'=>$v['id']])}" class="del am-btn am-btn-default am-btn-xs am-text-danger"><span class="am-icon-trash-o"></span> 删除</a>
                  </div>
                </div>
              </td>
            </tr>
        </foreach>
          </tbody>
        </table>
          <div class="am-cf">
  共 <font id='num'>
    <if condition="$row eq false">
      0
    <else/>
      {$row[0]['total']}
    </if>
    </font> 条记录
                  <div class="am-fr">             
                  <ul class="am-pagination">
                   {$row[0][btn]}
                  </ul>
                </div>
          </div>
          <hr />
          <p>注：.....</p>
        </form>
      </div>
    </div>
  </div>

  	<script>
      $('.am-pagination a').unwrap('div').wrap('<li></li>');
      $('.am-pagination span').wrap('<li class="am-active"></li>');

  	</script>


</block>